<div class="clear"></div>
    <footer>
            <div class="banderole footer-info">
                <h4>Horaires d'ouvertures</h4>
                <ul class="horaires_ouvertures">
                    <li>Lundi : 10h-19h</li>
                    <li>Mardi : 10h-19h</li>
                    <li>Mercredi : 10h-14h</li>
                    <li>Jeudi : 10h-19h</li>
                    <li>Vendredi : 10h-19h</li>
                    <li>Samedi : fermé</li>
                </ul>
            </div>
            <div class="banderole footer-contact">
                <ul>
                    <li>Numéro de Tel :
                        <p>02 35 89 54 78</p>
                    </li>
                    <li>Adresse Postale
                        <p>48 rue dujardin 54000 Allouette</p>
                    </li>
                    <li>Mail de contact
                        <p>contactmoi@contact.com</p>
                    </li>
                </ul>
            </div>
    </footer>

</body>
</html>