{% extends('base.html.twig') %}

{% block body %}
{{ parent() }}
<h1>Bienvenue</h1>
<p>Allez c'est parti pour de la reprise en php objet avec symfony, le but faire tout à la main!!!</p>

{% endblock body %}