{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}
    <h2>Informations</h2>
    <h3>Nos Services</h3>
    <p>Nos services se composent principalement d'un eentraide envers les différents difficulté qui peut exister au sein d'une formation
     tout en prenant en compte les avis des différents étudiants</p>


{% endblock body %}